#maindiv{
    margin-top: 8%;
}
#container{
    width: 95%;
    margin: auto;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1% 2%;
    margin-top: 2%;
    border-radius: 10px;
}
.card:hover{
    cursor: pointer;
}