#maincontainer{
    margin-top: 8%;
}

#container{
    width: 90%;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input{
    padding: 1% 1%;
}
button{
    padding: 1.5%;
    
    background-color: rgba(12, 125, 218, 0.756);
    color: white;
    border: 2px solid rgba(12, 125, 218, 0.756);
    border-radius: 7px; 
}
button:hover{
    cursor: pointer;
}